* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swiper.paginationOutside {
  padding-bottom: 30px !important;
}

/* detail page slider css */

.productDetailPageSlider .mySwiper {
  box-sizing: border-box;
  padding: 10px;
}

.productDetailPageSlider .mySwiper .swiper-slide {
  opacity: 0.4;
}

.productDetailPageSlider .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.productDetailPageSlider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
